@import "tailwindcss";

@theme {
  --font-geist: "Geist", sans-serif;
  --font-inter: "Inter", sans-serif;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
