@import "tailwindcss";

@theme {
  --font-geist: "Geist", sans-serif;
  --font-inter: "Inter", sans-serif;

  --animate-infinite-scroll: infinite-scroll 15s linear infinite;

  @keyframes infinite-scroll {
    0% {
      transform: translateX(0);
    }
    100%{
      transform: translateX(calc(-50% - 8px));
    }
  }
}


:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
